* {
    background-color: black;
    color: white;
    box-sizing: border-box;
    display: 95%;
    
    
}

h1{
    border: 20px groove grey;
    padding: 10px;
    margin: ;
    font-size: 2rem;
    
}

h2{
    background-color: black;
    font-weight: bold;
}

section{
    border: 20px ridge gray;
    border-width: auto;
    padding: 20px;
    margin: 1rem auto 0 auto;
    background-color: black;
    width: 95%;

    
}

p{
    background-color: black;
    width: auto;
}



ul{
    background-color: black
}

li{
    background-color: black
}

