* {
    box-sizing: border-box;
    background-color: black;
    color: white;
    
}

h1{
    border: 20px groove grey;
    padding: 20px;
    margin: 20px;
    background-color: black;
}

h2{
    background-color: black
}

section{
    border: 20px ridge gray;
    padding: 20px;
    margin: 20px;
    background-color: black;
}

p{
    background-color: black;
}

ul{
    background-color: black
}

li{
    background-color: black
}